<div class="fancy">

<h1>Create Account</h1>
<form action="/users" method="post">
  <br>
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="password" name="password_digest" placeholder="Password">
  <br>
  <br>
  <input type="submit" value="Create Account">
</form>

</div>
