
<li class="">
  <div class="collapsible-header"><i class="mdi mdi-lock text-primarycolor"></i><small class="votes"><%= post.votes.count %></small>   <%= post.title %><a href="#!" class="secondary-content" style="font-weight:500;"></a></div>
  <div class="collapsible-body white" style=""><p><%= post.body %></p><a href="/Posts/<%= "#{post.id}" %>">More Details</a></div>
</li>

