
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<img class="box" data-caption="Simple Booklet" src="http://www.wallpapereast.com/static/images/Creative-Wallpaper-Boat-in-a-Bottle-Wallpaper-HD-Wallpapers_DB0i8Rb.jpg">

<div id="login" class="modal center-sheet">
    <div class="modal-content">
      <form method="post" action="/">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <div class="modal-footer">
        <input type="submit" value="Login" class="modal-action modal-close waves-effect waves-green btn-flat">
        </div>
      </form>
    </div>
</div>
<div id="signup" class="modal center-sheet">
    <div class="modal-content">
      <form method="post" action="/users">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <div class="modal-footer">
        <input type="submit" value="Sign Up" class="modal-action modal-close waves-effect waves-green btn-flat">
        </div>
      </form>
    </div>
</div>
<div id="createPost" class="modal center-sheet">
    <div class="modal-content">
      <form id="postForm" method="post" action="/posts/new">
        <input type="text" name="title" placeholder="title">
        <textarea placeholder="Add content here" name="body" form="postForm"></textarea>
        <!-- <input type="text" name="body" placeholder="content"> -->
        <div class="modal-footer">
        <input type="submit" value="Create" class="modal-action modal-close waves-effect waves-green btn-flat">
        </div>
      </form>
    </div>
</div>



<div class="section no-pad-top no-pad-bot">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 style="color: #ccffcc">Posts</h3>

      </div>
      <div class="col s12 l6">
        <ul class="collapsible mobile-list-margin" data-collapsible="accordion">
        <% if @posts  %>
        <% @posts.each do |post| %>

          <%= erb :'/posts/new-post', locals: {post: post}, layout: false  %>
          <% end %>
        <% end %>
        </ul>
      </div>
